.loading-container {
    position: absolute;
    top: 10px;
    z-index: 1030;
    width: 100%;

}

.loading-indicator {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: white;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.mat-spinner circle {
    stroke: #2c5aa0 !important;
}