<mat-card class="text-center">
    <mat-card-title>
        <h4>
            <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
            Shopper
        </h4>
    </mat-card-title>
    <div>
        <form [formGroup]="baseForm">
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="{{'app.register.name'|translate}}" formControlName="name" required autocomplete="name">
                    <mat-hint>{{'app.register.name.enter'|translate}}</mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="{{'app.register.surname'|translate}}" formControlName="surname" autocomplete="surname"
                           required>
                    <mat-hint>{{'app.register.surname.enter'|translate}}</mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Email" formControlName="email" autocomplete="email">
                    <mat-hint> {{'app.register.email'|translate}}</mat-hint>
                    <mat-error *ngIf="baseForm.controls.email.hasError('email')">
                        {{'app.register.email.valid.error'|translate}}
                    </mat-error>
                    <mat-error *ngIf="baseForm.hasError('required')">
                        {{'app.register.email.required.error'|translate}}
                    </mat-error>
                    <mat-error *ngIf="baseForm.controls.email.hasError('duplicated')">
                        {{'app.register.email.duplicate.error'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <form [formGroup]="passwordForm">
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="{{'app.login.logpass.password'|translate}}"
                           formControlName="password" required type="password">
                    <mat-hint>{{'app.register.password.hint'|translate}}</mat-hint>
                    <mat-error *ngIf="passwordForm.hasError('required', ['password'])">
                        {{'app.register.password.required.error'|translate}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.hasError('minlength', ['password'])">
                        {{'app.register.password.lenght.error'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="{{'app.register.password.confirm'|translate}}"
                           formControlName="confirmPassword" required
                           [errorStateMatcher]="matcher"
                           type="password">
                    <mat-hint>{{'app.register.password.confirm'|translate}}</mat-hint>
                    <mat-error *ngIf="passwordForm.hasError('notSame')">
                        {{'app.register.password.confirm.error'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="text-left mt-3">
                <div fxFlex="40%">
                    <div>
                        <span fxShow.lt-sm="false">{{'app.register.password.strength'|translate}}</span>
                        <ng2-password-strength-bar
                                [passwordToCheck]="currentPass"
                                [barColors]="myColors">
                        </ng2-password-strength-bar>

                    </div>
                    <div>
                        <button mat-raised-button [disabled]="baseForm.invalid || passwordForm.invalid"
                                (click)="register()"
                                class="pull-right success-button">
                            {{'app.register'|translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                {{'app.register.login'|translate}}
                <a routerLink="/login">
                    {{'app.login'|translate}}
                </a>
            </div>
        </form>
    </div>
</mat-card>