<ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
        <a class="nav-link waves-effect waves-light">1
            <i class="fa fa-envelope"></i>
        </a>
    </li>
    <li class="nav-item img-fluid avatar dropdown justify-content-end" dropdown>
        <a type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect (click)="userMenuActivate.show()">
            {{user.name}} {{user.surname}}
            <img *ngIf="user.avatar && user.avatar !== 'NAN'" [src]="user.avatar" class="avatar nav-avatar"/>
            <img *ngIf="!user.avatar || user.avatar === 'NAN'" src='assets/images/avatar-placeholder.png'
                 class="avatar nav-avatar"/>
            <span class="caret"></span>
        </a>
    </li>
    <!--<li class="nav-item img-fluid avatar dropdown justify-content-end" dropdown>-->
    <!--<a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>-->
    <!--{{user.name}} {{user.surname}}-->
    <!--<img *ngIf="user.avatar && user.avatar !== 'NAN'" [src]="user.avatar" class="avatar nav-avatar"/>-->
    <!--<img *ngIf="!user.avatar || user.avatar === 'NAN'" src='assets/images/avatar-placeholder.png'-->
    <!--class="avatar nav-avatar"/>-->
    <!--<span class="caret"></span></a>-->
    <!--<div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">-->
    <!--<a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="settings"><i-->
    <!--class="fa fw fa-cog mr-1"></i>{{'app.menu.settings'|translate}}</a>-->
    <!--<div class="divider dropdown-divider"></div>-->
    <!--<a class="center" (click)="logout()"><i-->
    <!--class="fa fw fa-sign-out mr-1"></i>{{'app.menu.logout'|translate}}</a>-->
    <!--</div>-->
    <!--</li>-->
</ul>

<!-- Modal -->
<div mdbModal class="modal fade right" #userMenuActivate="mdbModal" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true" data-backdrop='false'>
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content nav-modal">
            <!--<div class="modal-header">-->
            <!--<h5 class="modal-title" id="exampleModalPreviewLabel">Modal title</h5>-->
            <!--</div>-->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="userMenuActivate.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="account-nav">
                    <li class="menu-item">
                        <img *ngIf="user.avatar && user.avatar !== 'NAN'" [src]="user.avatar" class="avatar large"/>
                        <img *ngIf="!user.avatar || user.avatar === 'NAN'" src='assets/images/avatar-placeholder.png'
                             class="avatar large"/>
                    </li>
                    <h4>{{user.name}} {{user.surname}}</h4>
                    <div class="nav-divider"></div>
                    <li class="menu-item mt-2">
                        <a href="#" (click)="userMenuActivate.hide()">
                            <i class="fa fa-envelope ml-2"></i> {{'app.menu.messages' |translate:message_count}}
                        </a>
                    </li>
                    <li class="menu-item mt-2">
                        <a class="waves-light" mdbWavesEffect href="#" routerLink="settings"
                           (click)="userMenuActivate.hide()">
                            <i class="fa fw fa-cog mr-1"></i>{{'app.menu.settings'|translate}}
                        </a>
                    </li>
                    <div class="nav-divider"></div>
                    <li class="menu-item mt-2">
                        <a class="waves-light" (click)="userMenuActivate.hide();logout()">
                            <i class="fa fw fa-sign-out mr-1"></i>
                            {{'app.menu.logout'|translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
