<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100">
        <h3 class="underlined">
            <mat-icon>assignment_ind</mat-icon>
            {{'app.general.avatar'|translate}}
        </h3>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100" fxLayoutAlign="center">
        <img [src]="account.avatar" height="100px">
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100" fxLayoutAlign="center">
        <button mat-raised-button (click)="openDialog()" class="mt-2">{{'app.settings.account.avatar'|translate}}
        </button>
    </div>
</div>
<!--LANGUAGE-->
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100">
        <h3 class="underlined">
            <mat-icon>language</mat-icon>
            {{'app.settings.account.language'|translate}}
        </h3>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100" fxLayoutAlign="center">
        <mat-form-field>
            <mat-select [(value)]="account.language" (selectionChange)="changeLanguage()">
                <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<!--Other-->
<!--FAVORITES SORTING-->
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100">
        <h3 class="underlined">
            <mat-icon>dashboard</mat-icon>
            {{'app.settings.account.other'|translate}}
        </h3>
    </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100" fxLayoutAlign="center">
        <mat-slide-toggle
                (change)="toggleFavoritesSorting($event)"
                [checked]="account.sortFavorites"
                color="primary"
        >
            {{'app.settings.account.sortfavorites'|translate}}
        </mat-slide-toggle>

    </div>
    <div class="mt-3 text-center" fxFlex="60" fxFlex.xs="100">
        <mat-hint>
            {{'app.settings.account.sortfavorites.hint'|translate}}
        </mat-hint>
    </div>
</div>
<!--MOBILE RIGHT CHECKBOXES-->
<ng-container *ngIf="isMobile">
    <div class="mt-4 text-left" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="60" fxFlex.xs="100" fxLayoutAlign="center">
            <mat-slide-toggle
                    color="primary"
                    class="full-width-button"
                    [checked]="account.righcheckbox"
                    (change)="toggleRightCheckboxes($event)"
            >
                {{'app.settings.account.righcheckbox'|translate}}
            </mat-slide-toggle>

        </div>
        <div fxFlex="60" fxFlex.xs="100" class="mt-3">
            <mat-hint>
                {{'app.settings.account.righcheckbox.hint'|translate}}
            </mat-hint>
        </div>
    </div>
</ng-container>
<div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="60" fxFlex.xs="100" fxLayoutAlign="center" class="delete-account-div">
        <button mat-flat-button color="warn" (click)="deleteAccount()">
            {{'app.settings.account.delete'|translate}}
        </button>
    </div>
</div>