<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top">
    <logo>
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo_white.png" height="30" class="d-inline-block align-top" alt="">
            Shopper</a>
    </logo>
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>-->
            <!--</li>-->
        </ul>
        <!-- Dropdown -->

        <app-account-menu *ngIf="loggedIn()"></app-account-menu>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
