.new-item-button {
    font-size: 40px;
    margin-left: -19px;
}

.mat-badge-content {
    color: #fff;
    background: #3f51b5;
}

.list-name-input {
    margin-bottom: -35px !important;
}

.mat-focused .mat-form-field-label {
    color: #027D7C !important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #00c500;
}


.mat-progress-bar-fill::after {
    background-color: #00c500 !important;
}

.mat-input-element {
    caret-color: white !important;
}

.list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-item-button {
    cursor: pointer;
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    padding: 1rem 1rem 0.5rem;
    text-decoration: none;
    font-size: 14px;
    outline-style: none;
}
.loader::ng-deep circle {
    stroke: white;
}