.item {
    padding: 10px 24px 0 24px;
}

.new-item {
    padding: 0 24px 0 24px;
    margin-bottom: 5px;
}

.new-item-button {
    font-size: 40px;
    margin-left: -19px;
}

.item.done {
    background: #e8e8e8bf !important;
    box-shadow: none !important;
}

.done-checkbox {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px !important;
}

.mat-card-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-menu {
    display: none;
}

.mat-card:hover .card-menu {
    color: #00000050;
    display: inline;
}

.mat-badge-content {
    color: #fff;
    background: #c3c3c3;
}

.list-name-input {
    margin-bottom: -35px !important;
}

.mat-focused .mat-form-field-label {
    color: #027D7C !important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #00c500;
}

.mat-progress-bar-fill::after {
    background-color: #00c500 !important;
}

.mat-input-element {
    caret-color: white !important;
}

.category-preset {
    font-size: initial;
    font-weight: normal;
}

.list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}