.idea/
*.iml
.target/
shopper-app/target/
shopper-web/target/
#Android specif git ignore
shopper-android/*/build/
shopper-android/com_crashlytics_export_strings.xml
shopper-android/local.properties
shopper-android/.gradle/
shopper-android/.signing/
shopper-android/.idea/libraries/
shopper-android/.idea/workspace.xml
shopper-android/.idea/tasks.xml
shopper-android/.idea/.name
shopper-android/.idea/compiler.xml
shopper-android/.idea/copyright/profiles_settings.xml
shopper-android/.idea/encodings.xml
shopper-android/.idea/misc.xml
shopper-android/.idea/modules.xml
shopper-android/.idea/scopes/scope_settings.xml
shopper-android/.idea/vcs.xml
shopper-android/*.iml
shopper-android/.DS_Store
shopper-android/.DS_Store?
shopper-android/._*
shopper-android/.Spotlight-V100
shopper-android/.Trashes
shopper-android/ehthumbs.db
shopper-android/Thumbs.db