<mat-card class="text-center">
    <mat-card-title>
        <h4>Welcome to shopper application</h4>
    </mat-card-title>
    <div class="row justify-content-md-center">
        <h5>Login using below</h5>
    </div>
    <a mat-raised-button class="btn-fb" href="{{login}}/facebook">
        <i class="fa fa-facebook mr-2"></i>
        Facebook
    </a>
    <a mat-raised-button class="btn-gplus" href="{{login}}/google">
        <i class="fa fa-google-plus mr-2"></i>
        Google +
    </a>

</mat-card>
<div class="row justify-content-md-center">
</div>


<div class="row justify-content-center">
    <div class="col col-lg-4">
    </div>
</div>
