.username-form {
    border-right: 1px solid gray;
    text-align: right;
}

@media (max-width: 768px) {
    .username-form {
        border-right: none;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }
}

.social-form {
    text-align: left;
}

.btn-social {
    width: 250px;
}

.btn-social.facebook {
    background-color: #3b5998 !important;
    color: #fff !important;
}

.btn-social.google {
    background-color: #dd4b39 !important;
    color: #fff !important;
}
