<mat-card class="text-center">
    <mat-card-title>
        <h4>
            <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
            {{'app.login.welcome'|translate}}
        </h4>
    </mat-card-title>
    <mat-card-subtitle>
        <span>{{'app.login.welcome.sub'|translate}}</span>
    </mat-card-subtitle>
    <div fxLayout="row wrap" fxLayoutAlign="center start">
        <div fxFlex.xs="100%" fxFlex.gt-xs class="social-form">
            <h4 class="mb-5">{{'app.login.social'|translate}}</h4>
            <div>
                <a class="btn-social facebook" href="{{FacebookLoginURL}}">
                    <img src="assets/images/btn_facebook.svg" height="25px">
                    {{'app.login.social.facebook'|translate}}
                </a>
            </div>
            <div class="mt-1">
                <a class="btn-social google" href="{{GoogleLoginURL}}">
                    <img src="assets/images/btn_google.svg" height="25px">
                    {{'app.login.social.google'|translate}}
                </a>
            </div>
            <div class="mt-5" [innerHTML]="'app.login.social.register'|translate">
            </div>
        </div>
        <div fxFlex.xs="100%" fxFlex.gt-xs class="username-form">
            <h4>{{'app.login.logpass'|translate}}</h4>
            <form>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="{{'app.login.logpass.username'|translate}}" name="username"
                               [formControl]="usernameCtrl">
                        <mat-icon matPrefix="">person</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="password" placeholder="{{'app.login.logpass.password'|translate}}"
                               name="password" (keydown.enter)="login()"
                               [formControl]="passwordCtrl">
                        <mat-icon matPrefix>vpn_key</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-flat-button (click)="login()" color="primary">{{'app.login.logpass.login'|translate}}
                    </button>
                </div>
            </form>
            <div class="mt-2">
                {{'app.login.logpass.noaccount'|translate}}<a
                    routerLink="/register">{{'app.login.register.here'|translate}}</a>
            </div>
            <div class="mt-2">
                {{'app.login.logpass.forgot'|translate}}
                <a routerLink="/reset">
                    {{'app.login.logpass.forgot.here'|translate}}
                </a>
            </div>
        </div>

    </div>
</mat-card>
