<div class="row justify-content-md-center">
    <div>
        <h3>
            Welcome to shopper app</h3>
        <h5>Please login below</h5>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-lg-4">
        <a type="button" class="btn btn-fb waves-light" mdbWavesEffect href="api/login/facebook">
            <i class="fa fa-facebook left"></i> Facebook
        </a>
        <a type="button" class="btn btn-gplus waves-light" mdbWavesEffect href="api/login/google">
            <i class="fa fa-google-plus left"></i> Google +
        </a>
    </div>
</div>
