<h2 mat-dialog-title>{{'app.settings.avatar.change'|translate}}</h2>
<mat-dialog-content class="mat-typography">
    <button mat-raised-button (click)="fileInput.click()" class="mb-1">
        <mat-icon>insert_drive_file</mat-icon>
        {{'app.general.choosefile' |translate}}
    </button>
    <input #fileInput type="file" (change)="fileChangeListener($event)" style="display:none;">
    <div><span>{{fileInput.value}}</span></div>
    <img-cropper #cropper [image]="avatarData" [settings]="cropperSettings"></img-cropper>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{'app.general.saveChanges'|translate}}</button>
</mat-dialog-actions>