<mat-card class="pt-0">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>person</mat-icon>
                <span fxShow.xs="false" class="ml-1">{{'app.settings.account'|translate}}</span>
            </ng-template>
            <ng-template matTabContent>
                <settings-account></settings-account>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>sort</mat-icon>
                <span fxShow.xs="false" class="ml-1">{{'app.settings.products.category.title'|translate}}</span>
            </ng-template>
            <ng-template matTabContent>
                <settings-category-sorting></settings-category-sorting>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>local_offer</mat-icon>
                <span fxShow.xs="false" class="ml-1">{{'app.item.add.favorites'|translate}}</span>
            </ng-template>
            <ng-template matTabContent>
                <div infinite-scroll
                     [infiniteScrollDistance]="1"
                     (scrolled)="favorites.onScrollDown()">
                    <item-favorites #favorites  [settings]="true"></item-favorites>
                </div>
            </ng-template>
        </mat-tab>
        <!--<mat-tab *ngIf="admin">-->
            <!--<ng-template mat-tab-label>-->
                <!--<mat-icon>message</mat-icon>-->
                <!--<span fxShow.xs="false" class="ml-1">{{'app.settings.notifications'|translate}}</span>-->
            <!--</ng-template>-->
            <!--<ng-template matTabContent>-->
                <!--<settings-notifications></settings-notifications>-->
            <!--</ng-template>-->
        <!--</mat-tab>-->
        <mat-tab *ngIf="admin">
            <ng-template mat-tab-label>
                <mat-icon>email</mat-icon>
                <span fxShow.xs="false" class="ml-1">{{'app.settings.email'|translate}}</span>
            </ng-template>
            <ng-template matTabContent>
                <settings-email></settings-email>
            </ng-template>
        </mat-tab>
        <mat-tab *ngIf="admin">
            <ng-template mat-tab-label>
                <mat-icon>settings</mat-icon>
                <span fxShow.xs="false" class="ml-1">{{'app.settings.app'|translate}}</span>
            </ng-template>
            <ng-template matTabContent>
                <settings-app></settings-app>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>