<mat-card>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>person</mat-icon>&nbsp;{{'app.settings.account'|translate}}
            </ng-template>
            <ng-template matTabContent>
                <settings-account></settings-account>
            </ng-template>
        </mat-tab>
        <mat-tab *ngIf="admin">
            <ng-template mat-tab-label>
                <mat-icon>message</mat-icon>&nbsp;{{'app.settings.notifications'|translate}}
            </ng-template>
            <ng-template matTabContent>
                <settings-notifications></settings-notifications>
            </ng-template>
        </mat-tab>
        <mat-tab *ngIf="admin">
            <ng-template mat-tab-label>
                <mat-icon>email</mat-icon>&nbsp;{{'app.settings.email'|translate}}
            </ng-template>
            <ng-template matTabContent>
                <settings-email></settings-email>
            </ng-template>
        </mat-tab>
        <mat-tab *ngIf="admin">
            <ng-template mat-tab-label>
                <mat-icon>settings</mat-icon>&nbsp;{{'app.settings.app'|translate}}
            </ng-template>
            <ng-template matTabContent>
                <settings-app></settings-app>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>local_offer</mat-icon>&nbsp;{{'app.settings.products'|translate}}
            </ng-template>
            <ng-template matTabContent>
                <settings-products></settings-products>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>