<p>
    home works!
</p>
<p>Welcome from backend api :{{welcome}}</p>
<div *ngIf="admin">{{"app.home.admin" | translate }}
    <ul>
        <li *ngFor="let user of users"><img class="avatar small" [src]="user.avatar">{{user.name}} {{user.surname}}
            ({{user.email}})
        </li>
    </ul>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacinia risus, nec semper lacus. Phasellus
    accumsan posuere ullamcorper. Sed porta molestie nisl at elementum. Sed vehicula tortor ornare lacus commodo, varius
    placerat lorem facilisis. Duis dapibus non libero in suscipit. Sed sagittis, elit id commodo varius, enim augue
    auctor nunc, at iaculis sapien est ac odio. Curabitur eu enim tortor. Nunc vitae odio non ligula tincidunt posuere.
    Donec ultrices, nulla gravida eleifend viverra, nulla enim consectetur ante, ut pretium dui nulla non leo. Fusce
    auctor lorem quis dolor sagittis viverra. Nulla bibendum turpis quis enim venenatis posuere. Mauris tincidunt
    imperdiet erat vel varius. Donec ac tristique quam.

    Quisque rutrum ullamcorper viverra. Morbi vel felis ligula. In at imperdiet ligula. Etiam malesuada nibh eu diam
    porta, sagittis tristique eros consectetur. Duis odio quam, egestas sit amet vestibulum at, rhoncus ac ligula. Cras
    sit amet mauris nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
    cursus risus ipsum, et scelerisque magna pretium blandit. Cras euismod interdum massa, sit amet dignissim ante
    venenatis at. Duis quis massa vitae dolor mollis hendrerit vel id turpis. Morbi velit diam, mattis ut pellentesque
    eu, sodales consectetur nibh. Sed id mi vel enim eleifend porta a ullamcorper nulla. Proin rutrum pretium turpis,
    vitae malesuada lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Pellentesque placerat nibh at nunc dapibus, at laoreet quam ullamcorper.

    Pellentesque at semper dolor, vitae efficitur nisi. Nulla turpis nunc, semper at quam non, fermentum dictum turpis.
    Etiam congue ex vel iaculis consectetur. Etiam eu mi urna. Suspendisse malesuada euismod tempor. Duis ut
    sollicitudin tortor. Mauris eu porttitor neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; Aliquam at diam eu lorem condimentum dictum id a velit. Nulla vulputate, est a porta
    pharetra, dolor metus porttitor ante, in consequat felis felis consequat risus.

    Nam ultrices viverra mauris, eu dignissim orci ultrices cursus. Aliquam ut nulla pretium, lobortis leo vel, viverra
    sapien. Integer fermentum nisl sit amet maximus vulputate. Proin nibh arcu, vestibulum a leo quis, gravida laoreet
    tellus. Aliquam quis neque ligula. Etiam gravida tristique nisi in ullamcorper. Nunc sollicitudin vehicula ligula
    sed tincidunt. Mauris vehicula, risus eu vestibulum sollicitudin, mauris urna tempor nibh, in scelerisque tellus
    lacus non leo. Donec porttitor facilisis tortor, a luctus urna lobortis et. Pellentesque sit amet orci posuere,
    finibus odio a, viverra libero. Donec ac massa varius turpis sollicitudin ultricies. Ut rhoncus ultrices urna, ut
    consequat dui. Nunc nulla sapien, sagittis ac nulla id, iaculis finibus lectus. Cras ac ultricies turpis, finibus
    eleifend orci. Fusce lobortis ipsum rutrum purus aliquam, sit amet tincidunt velit tempor. Morbi non vehicula nisi.

    Nam convallis sem in dui varius, vitae euismod odio ultricies. Pellentesque tempor fringilla diam sed scelerisque.
    Sed aliquet, metus sed mollis venenatis, felis massa feugiat nisl, in semper justo purus a felis. Fusce erat lectus,
    porttitor eu pellentesque id, fringilla et felis. Aenean auctor elit ut nunc molestie, vitae accumsan felis
    condimentum. Phasellus porttitor laoreet gravida. Integer nulla lorem, feugiat non libero quis, vestibulum sagittis
    libero. Morbi euismod molestie nunc, eget facilisis sapien cursus sed. Ut aliquet, ante ac porttitor accumsan, felis
    turpis consequat massa, non feugiat velit leo fermentum nunc. Sed scelerisque urna quis magna sagittis egestas.
    Aliquam ullamcorper elementum odio, non aliquam metus eleifend at. Sed condimentum sem sed velit porta, sit amet
    ornare mauris volutpat. Vivamus quis diam quis turpis lacinia sagittis ac ut urna. Duis efficitur, urna non ornare
    porta, orci libero mollis quam, sed egestas elit libero ac ante.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacinia risus, nec semper lacus. Phasellus
    accumsan posuere ullamcorper. Sed porta molestie nisl at elementum. Sed vehicula tortor ornare lacus commodo, varius
    placerat lorem facilisis. Duis dapibus non libero in suscipit. Sed sagittis, elit id commodo varius, enim augue
    auctor nunc, at iaculis sapien est ac odio. Curabitur eu enim tortor. Nunc vitae odio non ligula tincidunt posuere.
    Donec ultrices, nulla gravida eleifend viverra, nulla enim consectetur ante, ut pretium dui nulla non leo. Fusce
    auctor lorem quis dolor sagittis viverra. Nulla bibendum turpis quis enim venenatis posuere. Mauris tincidunt
    imperdiet erat vel varius. Donec ac tristique quam.

    Quisque rutrum ullamcorper viverra. Morbi vel felis ligula. In at imperdiet ligula. Etiam malesuada nibh eu diam
    porta, sagittis tristique eros consectetur. Duis odio quam, egestas sit amet vestibulum at, rhoncus ac ligula. Cras
    sit amet mauris nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
    cursus risus ipsum, et scelerisque magna pretium blandit. Cras euismod interdum massa, sit amet dignissim ante
    venenatis at. Duis quis massa vitae dolor mollis hendrerit vel id turpis. Morbi velit diam, mattis ut pellentesque
    eu, sodales consectetur nibh. Sed id mi vel enim eleifend porta a ullamcorper nulla. Proin rutrum pretium turpis,
    vitae malesuada lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Pellentesque placerat nibh at nunc dapibus, at laoreet quam ullamcorper.

    Pellentesque at semper dolor, vitae efficitur nisi. Nulla turpis nunc, semper at quam non, fermentum dictum turpis.
    Etiam congue ex vel iaculis consectetur. Etiam eu mi urna. Suspendisse malesuada euismod tempor. Duis ut
    sollicitudin tortor. Mauris eu porttitor neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; Aliquam at diam eu lorem condimentum dictum id a velit. Nulla vulputate, est a porta
    pharetra, dolor metus porttitor ante, in consequat felis felis consequat risus.

    Nam ultrices viverra mauris, eu dignissim orci ultrices cursus. Aliquam ut nulla pretium, lobortis leo vel, viverra
    sapien. Integer fermentum nisl sit amet maximus vulputate. Proin nibh arcu, vestibulum a leo quis, gravida laoreet
    tellus. Aliquam quis neque ligula. Etiam gravida tristique nisi in ullamcorper. Nunc sollicitudin vehicula ligula
    sed tincidunt. Mauris vehicula, risus eu vestibulum sollicitudin, mauris urna tempor nibh, in scelerisque tellus
    lacus non leo. Donec porttitor facilisis tortor, a luctus urna lobortis et. Pellentesque sit amet orci posuere,
    finibus odio a, viverra libero. Donec ac massa varius turpis sollicitudin ultricies. Ut rhoncus ultrices urna, ut
    consequat dui. Nunc nulla sapien, sagittis ac nulla id, iaculis finibus lectus. Cras ac ultricies turpis, finibus
    eleifend orci. Fusce lobortis ipsum rutrum purus aliquam, sit amet tincidunt velit tempor. Morbi non vehicula nisi.

    Nam convallis sem in dui varius, vitae euismod odio ultricies. Pellentesque tempor fringilla diam sed scelerisque.
    Sed aliquet, metus sed mollis venenatis, felis massa feugiat nisl, in semper justo purus a felis. Fusce erat lectus,
    porttitor eu pellentesque id, fringilla et felis. Aenean auctor elit ut nunc molestie, vitae accumsan felis
    condimentum. Phasellus porttitor laoreet gravida. Integer nulla lorem, feugiat non libero quis, vestibulum sagittis
    libero. Morbi euismod molestie nunc, eget facilisis sapien cursus sed. Ut aliquet, ante ac porttitor accumsan, felis
    turpis consequat massa, non feugiat velit leo fermentum nunc. Sed scelerisque urna quis magna sagittis egestas.
    Aliquam ullamcorper elementum odio, non aliquam metus eleifend at. Sed condimentum sem sed velit porta, sit amet
    ornare mauris volutpat. Vivamus quis diam quis turpis lacinia sagittis ac ut urna. Duis efficitur, urna non ornare
    porta, orci libero mollis quam, sed egestas elit libero ac ante.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lacinia risus, nec semper lacus. Phasellus
    accumsan posuere ullamcorper. Sed porta molestie nisl at elementum. Sed vehicula tortor ornare lacus commodo, varius
    placerat lorem facilisis. Duis dapibus non libero in suscipit. Sed sagittis, elit id commodo varius, enim augue
    auctor nunc, at iaculis sapien est ac odio. Curabitur eu enim tortor. Nunc vitae odio non ligula tincidunt posuere.
    Donec ultrices, nulla gravida eleifend viverra, nulla enim consectetur ante, ut pretium dui nulla non leo. Fusce
    auctor lorem quis dolor sagittis viverra. Nulla bibendum turpis quis enim venenatis posuere. Mauris tincidunt
    imperdiet erat vel varius. Donec ac tristique quam.

    Quisque rutrum ullamcorper viverra. Morbi vel felis ligula. In at imperdiet ligula. Etiam malesuada nibh eu diam
    porta, sagittis tristique eros consectetur. Duis odio quam, egestas sit amet vestibulum at, rhoncus ac ligula. Cras
    sit amet mauris nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
    cursus risus ipsum, et scelerisque magna pretium blandit. Cras euismod interdum massa, sit amet dignissim ante
    venenatis at. Duis quis massa vitae dolor mollis hendrerit vel id turpis. Morbi velit diam, mattis ut pellentesque
    eu, sodales consectetur nibh. Sed id mi vel enim eleifend porta a ullamcorper nulla. Proin rutrum pretium turpis,
    vitae malesuada lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Pellentesque placerat nibh at nunc dapibus, at laoreet quam ullamcorper.

    Pellentesque at semper dolor, vitae efficitur nisi. Nulla turpis nunc, semper at quam non, fermentum dictum turpis.
    Etiam congue ex vel iaculis consectetur. Etiam eu mi urna. Suspendisse malesuada euismod tempor. Duis ut
    sollicitudin tortor. Mauris eu porttitor neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; Aliquam at diam eu lorem condimentum dictum id a velit. Nulla vulputate, est a porta
    pharetra, dolor metus porttitor ante, in consequat felis felis consequat risus.

    Nam ultrices viverra mauris, eu dignissim orci ultrices cursus. Aliquam ut nulla pretium, lobortis leo vel, viverra
    sapien. Integer fermentum nisl sit amet maximus vulputate. Proin nibh arcu, vestibulum a leo quis, gravida laoreet
    tellus. Aliquam quis neque ligula. Etiam gravida tristique nisi in ullamcorper. Nunc sollicitudin vehicula ligula
    sed tincidunt. Mauris vehicula, risus eu vestibulum sollicitudin, mauris urna tempor nibh, in scelerisque tellus
    lacus non leo. Donec porttitor facilisis tortor, a luctus urna lobortis et. Pellentesque sit amet orci posuere,
    finibus odio a, viverra libero. Donec ac massa varius turpis sollicitudin ultricies. Ut rhoncus ultrices urna, ut
    consequat dui. Nunc nulla sapien, sagittis ac nulla id, iaculis finibus lectus. Cras ac ultricies turpis, finibus
    eleifend orci. Fusce lobortis ipsum rutrum purus aliquam, sit amet tincidunt velit tempor. Morbi non vehicula nisi.

    Nam convallis sem in dui varius, vitae euismod odio ultricies. Pellentesque tempor fringilla diam sed scelerisque.
    Sed aliquet, metus sed mollis venenatis, felis massa feugiat nisl, in semper justo purus a felis. Fusce erat lectus,
    porttitor eu pellentesque id, fringilla et felis. Aenean auctor elit ut nunc molestie, vitae accumsan felis
    condimentum. Phasellus porttitor laoreet gravida. Integer nulla lorem, feugiat non libero quis, vestibulum sagittis
    libero. Morbi euismod molestie nunc, eget facilisis sapien cursus sed. Ut aliquet, ante ac porttitor accumsan, felis
    turpis consequat massa, non feugiat velit leo fermentum nunc. Sed scelerisque urna quis magna sagittis egestas.
    Aliquam ullamcorper elementum odio, non aliquam metus eleifend at. Sed condimentum sem sed velit porta, sit amet
    ornare mauris volutpat. Vivamus quis diam quis turpis lacinia sagittis ac ut urna. Duis efficitur, urna non ornare
    porta, orci libero mollis quam, sed egestas elit libero ac ante.
</p>
