<div id="message-container" [@alertsAnimation]="messages.length">
    <div *ngFor="let message of messages "
         [ngClass]="{
            'message': message,
            'message-success': message.type === MessageType.SUCCESS,
            'message-error': message.type === MessageType.ERROR,
            'message-info ': message.type === MessageType.INFO,
            'message-warning ': message.type === MessageType.WARNING}" [ngSwitch]="message.type">
        <div class="message-text">
            <i *ngSwitchCase="MessageType.SUCCESS" class="fa fa-check mr-2"></i>
            <i *ngSwitchCase="MessageType.ERROR" class="fa fa-times mr-2"></i>
            <i *ngSwitchCase="MessageType.INFO" class="fa fa-info mr-2"></i>
            <i *ngSwitchCase="MessageType.WARNING" class="fa fa-warning mr-2"></i>
            {{message.text}}
            <i class="fa fa-times clickable pull-right ml-5" (click)="dismiss(message)"></i>
        </div>
    </div>
</div>