<div id="message-container" [@alertsAnimation]="messages.length">
    <div *ngFor="let message of messages "
         [ngClass]="{
            'message': message,
            'message-success': message.type === MessageType.SUCCESS,
            'message-error': message.type === MessageType.ERROR,
            'message-info ': message.type === MessageType.INFO,
            'message-warning ': message.type === MessageType.WARNING}" [ngSwitch]="message.type">
        <div class="message-text">
            <mat-icon *ngSwitchCase="MessageType.SUCCESS" class="mr-2">check_circle</mat-icon>
            <mat-icon *ngSwitchCase="MessageType.ERROR" class="mr-2">error</mat-icon>
            <mat-icon *ngSwitchCase="MessageType.INFO" class="mr-2">info</mat-icon>
            <mat-icon *ngSwitchCase="MessageType.WARNING" class="mr-2">warning</mat-icon>
            {{message.text}}
            <mat-icon class="clickable pull-right ml-5" (click)="dismiss(message)">close</mat-icon>
        </div>
    </div>
</div>