<div fxLayout="row wrap" fxLayoutGap="5px" class="m-1">
    <div *ngIf="favorites && favorites.length==0" class="text-center font-italic">
        {{'app.item.add.favorites.onlist'|translate}}
    </div>
    <div *ngFor="let fav of favorites" fxFlex="calc(50%-5px)" class="mt-1">
        <button mat-raised-button class="full-width-button" (click)="addItem(fav)">
            <mat-icon class="pull-left">add</mat-icon>
            {{fav.name}}
            <img fxShow.xs="false" [src]='"assets/images/categories/"+ fav.topCategory+ ".png"' class="category v-middle pull-right">
        </button>
    </div>
</div>
