<h2 mat-dialog-title class="modal-header {{action_class}}">
    <mat-icon class="text-white mr-2">help_outline</mat-icon>
    {{title|translate}}
    <button mat-icon-button mat-dialog-close class="pull-right">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content class="mat-typography text-center ml-0 mr-0 p-2" [innerHtml]="message|translate">
</mat-dialog-content>
<mat-dialog-actions align="end" class="pr-2 pl-2">
    <button mat-raised-button cdkFocusRegionstart mat-dialog-close>{{'app.general.cancel'|translate}}</button>
    <button mat-raised-button color="{{action_class}}" (click)="confirm()">
        {{action|translate}}
    </button>
</mat-dialog-actions>
