@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Kalam');

@include mat-core();
$primary: mat-palette($mat-indigo, 500);
$accent: mat-palette($mat-blue, 900);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

$general-typography: mat-typography-config(
        $font-family: '"Kalam", "Roboto", sans-serif',
        $body-2: mat-typography-level(14px, 24px, 600)
);

@include mat-core($general-typography);

body {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #2c5aa0;
}

.shopper-font {
  font-family: 'Kalam', cursive;
}


.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none !important;
}

.mat-drawer-content {
  z-index: auto !important;
}

.mat-drawer-container {
  background-color: #fff;
  z-index: auto !important;
}

.mat-sidenav {
  padding: 10px 60px;
  z-index: 1031 !important;
  background: #2c5aa0;
  color: white;
}

.modal-header {
  background: #2c5aa0;
  color: white;
  padding: 20px;
  margin-top: 0;
}

.modal-header.warn {
  background: #f44336;
}

.shopper-modal > mat-dialog-container {
  padding: 0 0 24px 0;
}

.shopper-modal > mat-dialog-content.mat-dialog-content {
  margin: 0 !important;
}

.shopper-modal.mat-dialog-content {
  margin: 0 !important;
}


.mat-form-field-full-width {
  width: 100%;
}

.modal-header > mat-icon {
  float: left;
  font-size: 30px;
}

.success-button {
  background: #43b05c;
  color: white;
}

.underlined {
  border-bottom: 1px solid;
}

.mat-card {
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  .shopper-modal-normal {
    max-width: 100% !important;
  }

  .shopper-modal {
    max-width: 100% !important;
  }

  .mat-card {
    margin: 0 5px;
  }

  .m-plr-5 {
    padding: 0 5px;
  }
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.mat-tooltip {
  font-size: 17px; // current default is 10px :-/
}
