<mat-card class="text-center">
    <mat-card-title>
        <h4>
            <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
            <span class="stylish">Gifts hub</span>
        </h4>
        <h6 [innerHTML]="'app.password.reset.title'|translate"></h6>
    </mat-card-title>
    <div>
        <form [formGroup]="passwordForm">
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="{{'app.login.logpass.password'|translate}}"
                           formControlName="password" required type="password">
                    <mat-hint>{{'app.register.password.hint'|translate}}</mat-hint>
                    <mat-error *ngIf="passwordForm.hasError('required', ['password'])">
                        {{'app.register.password.required.error'|translate}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.hasError('minlength', ['password'])">
                        {{'app.register.password.lenght.error'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="{{'app.register.password.confirm'|translate}}"
                           formControlName="confirmPassword" required
                           [errorStateMatcher]="matcher"
                           type="password">
                    <mat-hint>{{'app.register.password.confirm'|translate}}</mat-hint>
                    <mat-error *ngIf="passwordForm.hasError('notSame')">
                        {{'app.register.password.confirm.error'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="text-left mt-3">
                <div fxFlex="40%">
                    <div>
                        <span fxShow.lt-sm="false">{{'app.register.password.strength'|translate}}</span>
                        <ng2-password-strength-bar
                                [passwordToCheck]="currentPass"
                                [barColors]="myColors">
                        </ng2-password-strength-bar>

                    </div>
                    <div>
                        <button mat-raised-button [disabled]="passwordForm.invalid"
                                (click)="changePassword()"
                                class="pull-right success-button">
                            {{'app.password.change'|translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                {{'app.register.login'|translate}}
                <a routerLink="/login">
                    {{'app.login'|translate}}
                </a>
            </div>
        </form>
    </div>
</mat-card>
