<h2 mat-dialog-title class="modal-header">
    <mat-icon class="text-white mr-2">{{update?'edit':'add'}}</mat-icon>
    {{(update?'app.item.update':'app.item.add')|translate}}
    <button mat-icon-button mat-dialog-close class="pull-right">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<item-details *ngIf="update"
              [listID]="listID"
              [(item)]="item"
              [categories]="categories"
></item-details>

<mat-tab-group mat-stretch-tabs *ngIf="!update">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>add</mat-icon>
            <span fxShow.xs="false">
            &nbsp;{{'app.item.add'|translate}}
            </span>
        </ng-template>
        <!--TODO extract to new item component-->
        <item-details
                [listID]="listID"
                [(item)]="item"
                [categories]="categories"
                (commit)="commitItem($event)"
        ></item-details>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>favorite</mat-icon>
            <span fxShow.xs="false">&nbsp;{{'app.item.add.favorites'|translate}}</span>
        </ng-template>
        <ng-template matTabContent>
            <item-favorites [listID]="listID"></item-favorites>
        </ng-template>
    </mat-tab>
</mat-tab-group>


