<h2 mat-dialog-title class="modal-header mb-0">
    <mat-icon class="text-white mr-2">{{update ? 'edit' : 'add'}}</mat-icon>
    {{(update ? 'app.item.update' : 'app.item.add')|translate}}
    <button mat-icon-button mat-dialog-close class="pull-right header-button">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button class="pull-right header-button" *ngIf="formValid" [fxShow.gt-sm]="false"
            (click)="emitCommit()">
        <mat-icon>check</mat-icon>
    </button>
</h2>
<div *ngIf="update">
    <item-details [listID]="listID"
                  [(item)]="item"
                  [update]="update"
                  [categories]="categories"
                  [favorites]="favorites"
                  (commit)="commitItem($event)"
                  (valid)="formValid=$event"
    >
    </item-details>
</div>
<mat-tab-group mat-stretch-tabs *ngIf="!update">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>add</mat-icon>
            <span [fxShow.xs]="false">
            &nbsp;{{'app.item.add'|translate}}
            </span>
        </ng-template>
        <div class="shopper-modal mat-dialog-content">
            <item-details
                    [listID]="listID"
                    [(item)]="item"
                    [categories]="categories"
                    [favorites]="favorites"
                    [update]="update"
                    (commit)="commitItem($event)"
                    (valid)="formValid=$event"
            ></item-details>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>favorite</mat-icon>
            <span [fxShow.xs]="false">&nbsp;{{'app.item.add.favorites'|translate}}</span>
        </ng-template>
        <ng-template matTabContent>
            <div class="favorites-container">
                <div mat-dialog-content
                     class="shopper-modal mat-dialog-content"
                     infinite-scroll
                     [infiniteScrollDistance]="1"
                     [scrollWindow]="false"
                     (scrolled)="favorites.onScrollDown();toTopVisible=true">
                    <span id="top"></span>
                    <item-favorites #favorites [listID]="listID"></item-favorites>
                </div>
                <div (click)="backToTop()" *ngIf="toTopVisible" class="go-to-top"
                     matTooltip="{{'app.general.btt'|translate}}">
                    <mat-icon class="rotate-270">last_page</mat-icon>
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>