<div fxLayout="row" fxLayoutAlign="center" class="mt-5">
    <div fxFlex="60">
        <form [formGroup]="form">
            <div fxLayout="column">
                <mat-form-field>
                    <mat-select placeholder="{{'app.settings.app.defaultLang'|translate}}" formControlName="language">
                        <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput formControlName="appUrl"
                           placeholder="{{'app.settings.app.appURL'|translate}}">
                    <button mat-icon-button matSuffix (click)="getAppURL()"
                            matTooltip="{{'app.settings.app.appURL.get'|translate}}">
                        <mat-icon>
                            link
                        </mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <button mat-raised-button class="success-button pull-right" (click)="saveConfiguration()"
                    [disabled]="form.invalid || !form.touched">{{'app.general.saveChanges'|translate}}
            </button>
        </form>
    </div>
</div>
