<h2 mat-dialog-title class="modal-header">
    <mat-icon class="text-white mr-2">share</mat-icon>
    {{'app.shopping.share'|translate}}
    <button mat-icon-button mat-dialog-close class="pull-right">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="20">
        <img src="assets/images/list_share.svg" height="64" class="ml-2">
    </div>
    <div fxFlex="80" class="mr-2">
        <div [innerHTML]="'app.shopping.share.msg'|translate:{listName: list.name}"></div>
        <div class="mt-2">
            <form>
                <mat-dialog-content class="mat-typography text-center ml-0 mr-0">
                    <mat-form-field class="mat-form-field-full-width">
                        <input id="listName" matInput cdkFocusRegionstart
                               placeholder="{{'app.general.email'|translate}}"
                               [formControl]="emailControl" required (keydown.enter)="createList()" autocomplete="off"
                               type="email">
                        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                            {{'app.general.email.error'|translate}}
                        </mat-error>
                    </mat-form-field>
                </mat-dialog-content>
            </form>
        </div>
    </div>
</div>
<mat-dialog-actions align="end" class="pr-2 pl-2">
    <button mat-raised-button mat-dialog-close>{{'app.general.cancel'|translate}}</button>
    <button mat-raised-button class="success-button" (click)="shareList()" [disabled]="emailControl.invalid">
        {{'app.shopping.share.action'|translate}}
    </button>
</mat-dialog-actions>
