<mat-card class="text-center">
    <mat-card-title>
        <h4>
            <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
            <span class="stylish">Shopper</span>
        </h4>
        <h6 [innerHTML]="'app.password.reset.title'|translate"></h6>
    </mat-card-title>
    <div>
        <form>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <mat-form-field fxFlex="40" fxFlex.lt-sm="100">
                    <input matInput placeholder="{{'app.password.reset.email'|translate}}"
                           [formControl]="emailResetCtrl"
                           required
                           autocomplete="email" type="email">
                    <mat-hint>{{'app.password.reset.email.hint'|translate}}</mat-hint>
                    <mat-error *ngIf="emailResetCtrl.hasError('email')">
                        {{'app.register.email.valid.error'|translate}}
                    </mat-error>
                    <mat-error *ngIf="emailResetCtrl.hasError('required')">
                        {{'app.register.email.required.error'|translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="40" fxFlex.lt-sm="100" class="m-4 text-right">
                <button mat-raised-button class="success-button" (click)="reset()"
                        [disabled]="!emailResetCtrl.touched && emailResetCtrl.invalid">
                    {{'app.password.reset'|translate}}
                </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
