<ng-progress [color]="'white'"
             [trickleSpeed]="500"
             [thick]="true"
             [ease]="'easeInSine'">
</ng-progress>
<alert></alert>
<!--TOOLBAR-->
<menu-toolbar (sidenav)="handleSideNav($event)" [account]="account" [onListView]="onListView"
              [loggedIn]="loggedIn"></menu-toolbar>
<!--SIDE POPUP MENU-->
<menu-sidenav
        [list]="list"
        [lists]="lists"
        [shown]="shown"
        (sidenav)="handleSideNav($event)"
        (newList)="openNewListDialog()">
</menu-sidenav>
<div fxFlexFill>
    <main class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
          fxLayoutAlign="center">
        <div fxFlex="80%">
            <!--CONTENT-->
            <router-outlet></router-outlet>
        </div>
    </main>
</div>