<mat-toolbar *ngIf="loggedIn" class="fixed-top" color="primary">
    <button mat-button routerLink="/" class="mat-toolbar-button app-title shopper-font">
        <img src="assets/images/logo_white.svg" height="30" class="d-inline-block align-top" alt="">
        Shopper
    </button>
    <span class="fill-remaining-space"></span>
    <!--MOBILE BUTTON MENU-->
    <div fxHide.gt-sm="true" fxShow="true">
        <button *ngIf="onListView" mat-icon-button (click)="openNewItemDialog()"
                matTooltip="{{'app.item.add'|translate}}">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button *ngIf="onListView" mat-icon-button (click)="refreshList()"
                matTooltip="{{'app.general.refresh'|translate}}">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <!--DESKTOP MENU-->
    <div fxHide.lt-md="true" fxShow="true">
        <button class="mat-toolbar-button" mat-button matTooltip="{{'app.shopping.all' | translate}}"
                routerLink="/">
            <img src="assets/images/list.svg" height="26">
        </button>
        <button mat-button class="mat-toolbar-button" [routerLink]="['/']" [queryParams]="{archived:true}"
                matTooltip="{{'app.shopping.archived' | translate}} {{'app.shopping.list' | translate}} ">
            <img src="assets/images/list_archive.svg" height="26">
        </button>
        <button mat-button class="mat-toolbar-button" (click)="toggleSideNav()" *ngIf="account">
            <img *ngIf="account.avatar" [src]="account.avatar" class="avatar nav-avatar"/>
            <img *ngIf="!account.avatar" src="assets/images/avatar-placeholder.png" class="avatar nav-avatar"/>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>
<ng-container *ngIf="!loggedIn">
    <div class="mt-2" fxLayout="row wrap" fxLayoutAlign="center start">
        <div fxFlex="80" fxFlex.lt-md="100">
            <div fxLayout="row">
                <div class="mat-toolbar-button app-title-larger shopper-font" fxFlex>
                    <img alt="" class="d-inline-block align-top" height="50" src="assets/images/logo_white.svg">
                    <span fxShow.lt-md="false">Shopper</span>
                </div>
                <span class="fill-remaining-space"></span>
                <div class="mt-4" fxFlex>
                    <button class="mr-4 pl-5 pr-5" mat-flat-button routerLink="/register">{{'app.register'|translate}}
                    </button>
                    <button (click)="scrollToLogin()" class="pl-5 pr-5 success-button"
                            mat-flat-button>{{'app.login.logpass.login'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
