<mat-card class="text-center">
    <mat-card-title>
        <h4>
            <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
            Shopper
        </h4>
    </mat-card-title>
    <div class="text-center">
        <p>I'm sorry but registration using username and password is currently disabled</p>
        <p>Please use sign in using
            <a mat-raised-button class="btn-social facebook" href="{{login_url}}/facebook">
                <i class="fa fa-facebook mr-2"></i>
                Facebook
            </a> or
            <a mat-raised-button class="btn-social google" href="{{login_url}}/google">
                <i class="fa fa-google-plus mr-2"></i>
                Google +
            </a>
        </p>
    </div>
</mat-card>