<mat-card class="text-center">
    <mat-card-title>
        <h4>
            <img src="assets/images/logo.svg" height="50px" class="ml-2 v-middle">
            Shopper
        </h4>
    </mat-card-title>
    <div class="text-center">
        <p>I'm sorry but registration using username and password is currently disabled</p>
        <p>Please use sign in using
            <a mat-raised-button class="btn-social facebook" href="{{login_url}}/facebook">
                <i class="fa fa-facebook mr-2"></i>
                Facebook
            </a> or
            <a mat-raised-button class="btn-social google" href="{{login_url}}/google">
                <i class="fa fa-google-plus mr-2"></i>
                Google +
            </a>
        </p>
    </div>
    <hr>
    <div>
        <form [formGroup]="baseForm">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-hint>Please enter your name</mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Surname" formControlName="surname" required>
                    <mat-hint>Please enter your surname</mat-hint>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-hint>Please enter your email</mat-hint>
                    <mat-error *ngIf="baseForm.controls.email.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="baseForm.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <form [formGroup]="passwordForm">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Password" formControlName="password" required type="password">
                    <mat-hint>Enter password</mat-hint>
                    <mat-error *ngIf="passwordForm.hasError('required', 'password')">
                        Please enter your new password
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Confirm password" formControlName="confirmPassword" required
                           [errorStateMatcher]="matcher"
                           type="password">
                    <mat-hint>Confirm password</mat-hint>
                    <mat-error *ngIf="passwordForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="text-left mt-2">
                <div fxFlex="40%">
                    <div>
                        <ng2-password-strength-bar
                                [passwordToCheck]="currentPass"
                                [barLabel]="('app.register.password.strength'|translate)"
                                [barColors]="myColors">
                        </ng2-password-strength-bar>

                    </div>
                    <div>
                        <!--<button mat-raised-button [disabled]="baseForm.invalid || passwordForm.invalid"-->
                        <!--(click)="register()"-->
                        <!--class="pull-right success-button">-->
                        <!--Register-->
                        <!--</button>-->
                        <button mat-raised-button [disabled]="true"
                                class="pull-right success-button">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-card>