<mat-card fxLayout="row" [ngClass]="{'item':true,'done':item.done}">
    <ng-container *ngIf="isMobile">
        <button mat-icon-button class="item-checkbox" *ngIf="!currentAccount.righcheckbox"
                (click)="toggleItem(item)" [disabled]="archived">
            <mat-icon *ngIf="!item.done" class="item-checkbox-icon">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="item.done" class="large-icon">check</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="!isMobile">
        <button mat-icon-button class="item-checkbox" (click)="toggleItem(item)" [disabled]="archived">
            <mat-icon *ngIf="!item.done" class="item-checkbox-icon">check_box_outline_blank</mat-icon>
            <mat-icon *ngIf="item.done" class="large-icon">check</mat-icon>
        </button>
    </ng-container>
    <mat-card-title-group class="ml-2">
        <mat-card-title>{{displayName(item)}}
        </mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
    </mat-card-title-group>
    <span class="fill-remaining-space"></span>
    <!--CARD MENU-->
    <span class="card-menu" *ngIf="!archived">
                    <button mat-icon-button (click)="openEditItemDialog(item)">
                        <mat-icon class="card-menu">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteItem(item)">
                        <mat-icon class="card-menu">delete</mat-icon>
                </button>
        </span>
    <mat-card-subtitle class="mt-2"><span *ngIf="item.quantity !== 0">{{item.quantity}}</span>
        {{item.unit}}
    </mat-card-subtitle>
    <ng-container *ngIf="!item.done">
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{item.category | translate}}"
                [disabled]="archived">
            <img [src]='"assets/images/categories/"+ item.category + ".png"' class="category">
        </button>
    </ng-container>
    <ng-container *ngIf="item.done">
        <button mat-icon-button [disabled]="archived">
            <img [src]='"assets/images/categories/"+ item.category + ".png"' class="category">
        </button>
    </ng-container>
    <button mat-icon-button class="item-checkbox" *ngIf="currentAccount.righcheckbox && isMobile"
            (click)="toggleItem(item)" [disabled]="archived">
        <mat-icon *ngIf="!item.done" class="item-checkbox-icon">check_box_outline_blank</mat-icon>
        <mat-icon *ngIf="item.done" class="large-icon">check</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngFor="let cat of categories" mat-menu-item (click)="updateCategory(item,cat.category)">
            <img [src]='"assets/images/categories/"+ cat.category + ".png"' class="category">
            {{cat.name}}
        </button>
    </mat-menu>
</mat-card>