mat-card.mat-card.item.done {
    background: #e8e8e8bf !important;
    box-shadow: none !important;
}
.item {
    padding: 10px 24px 0 24px;
}

.item-checkbox {
    width: 50px;
    margin-left: -10px;
    margin-right: -5px;
    margin-top: -5px !important;
}

.item-checkbox-icon {
    margin-left: -5px;
}

.mat-card-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-menu {
    display: none;
}

.mat-card:hover .card-menu {
    color: #00000050;
    display: inline;
}
